<link rel="stylesheet" href="style.css">


<h1>Users</h1>

<div id="users_list">
<ul class="list-group">
{{#each users}}
    <small>{{createdAt}}</small>
    <li class="list-group-item">[{{id}}] {{email}} | {{password}}</li>
    <a href="/delete/{{id}}"><button type="button" class="btn btn-danger">Delete</button></a>
{{/each}}
</ul>
</div>
<a href="/cadastro">Cadastrar mais</a>
